body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch; 
}

header, footer {
    background-color: #0059ff;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    flex-grow: 1;
    display: flex;
}

.nav, .sidebar {
    flex: 0 0 200px;
    background-color: #4CAF50;
}

.main {
    flex-grow: 1;
    background-color: #E91E63;
    display: flex;
}
